<div class="row Box">
  <div class="small-12 columns">
    <%= form_for @question do |f| %>
    <div class="row u-mb-1">
      <div class="small-12 columns">
        <h4>For Event: <%= f.label :copy, @question.event.name %></h4>
        <div class="floatlabel-wrapper required" style="position:relative">
          <%= f.text_area :copy, placeholder: 'Question'%>
        </div>
      </div>
    </div>

    <div class="row u-mb-4">
      <div class="small-6 columns">
        <div class="checkbox">
          <%= f.check_box :anonymous_flag, value: true %>
          <span></span>
          <%= f.label :anonymous_flag, 'Anonymous' %>
        </div>
      </div>
    <div class="small-1 small-offset-2 columns">
    </div>
    <div class="small-3 columns">
      <% if @_controller.action_name == 'new' %>
      <%= f.submit 'Submit Question', class: "Button Button--green Button--fullWidth" %>
      <% elsif @_controller.action_name == 'edit' %>
      <p><%= f.submit 'Update Question', class: "Button Button--green Button--fullWidth" %></p>
      <p><%= link_to 'Destroy Question', @question, method: :delete, class: "Button Button--outline Button--withIcon Button--red Icon--close Button--fullWidth" %></p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>