<div class="row Box u-mb-5">
  <div class="small-12 columns">
    <%= form_for [@event, @question] do |f| %>
    <div class="row">
      <div class="small-12 columns">
        <h4>For Event: <%= f.label :copy, @event.name %></h4>
      </div>
    </div>
    <div class="row u-mb-1">
      <div class="small-12 columns">
        <div class="floatlabel-wrapper required" style="position:relative">
          <%= f.text_area :copy, placeholder: 'Question', class: 'u-mb-0' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns u-mb-4" style="text-align:center">
        <p class="small">Please be considerate and respectful when posting questions and responses.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="checkbox">
          <%= f.check_box :anonymous_flag, value: true %>
          <span></span>
          <%= f.label :anonymous_flag, 'Anonymous' %>
        </div>
      </div>
      <div class="small-1 small-offset-2 columns">
      </div>
      <div class="small-3 columns">
        <%= f.submit 'Submit Question', class: "Button Button--green Button--fullWidth" %>
      </div>
      <% end %>
    </div>
  </div>
</div>