  <% if params[:question] == question.id.to_s %>
<div class="row u-dividerTopSmall u-mb-5 is-active" id="question_<%= question.id.to_s %>">
  <% else %>
<div class="row u-dividerTopSmall u-mb-5" id="question_<%= question.id.to_s %>">
  <% end %>
  <div class="small-1 columns">
    <% if question.anonymous_flag %>
      <%= image_tag 'anonymous.png', class: 'profile-image' %>
    <% else %>
      <%= image_tag question.user.image_url, class: 'profile-image' %>
    <% end %>
  </div>
  <div class="small-11 columns">
    <div class="row u-mb-4">
      <div class="small-12 columns">
        <span class="Ticket-reply">
          <%= link_to "#{question.user.name}", user_questions_path(question.user.id) %> asks:
        </span>
        <span class="Ticket-timestamp"><%= time_ago_in_words(question.created_at) %> ago</span>
      </div>
    </div>
    <div class="row u-mb-2">
      <div class="small-11 columns">
        <%= simple_format(question.copy) %>
      </div>
      <div class="small-1 columns u-textAlignCenter">
        <div class="row u-mb-2">
          <% if @user.votes.where("question_id = ?", question.id).where("type_of LIKE ?", 'up').empty? %>
          <%= link_to '', upvote_question_path(question.id), { method: :post, class: 'Button Button--outline Button--green Button--icon Icon--arrowUp', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Upvote' } %>
          <% else %>
          <a class="Button Button--green Button--icon Icon--arrowUp"></a>
          <% end %>
        </div>
        <div class="row u-mb-2">
        <p><%= question.score %><br>(+<%= question.upvotes %>, -<%= question.downvotes %>)</p>
        </div>
        <div class="row u-mb-2">
          <% if @user.votes.where("question_id = ?", question.id).where("type_of LIKE ?", 'down').empty? %>
          <%= link_to '', downvote_question_path(question.id), { method: :post, class: 'Button Button--outline Button--red Button--icon Icon--arrowDown', :'data-toggle' => 'tooltip', :'data-placement' => 'bottom', title: 'Downvote' } %>
          <% else %>
          <a class="Button Button--red Button--icon Icon--arrowDown"></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <p class="small">
            <% if !current_page?(url_for(:controller => 'users', :action => 'show_questions')) && !current_page?(url_for(:controller => 'users', :action => 'show_votes')) %>
          <% if policy(question).edit? %>
          <%= link_to 'Edit Question', edit_question_path(question.id), class: "u-mr-2" %>
          <% end %>
          <% end %>
          <% if question.responses.count > 0 %>
          <%= link_to "View #{'response'.pluralize(question.responses.count)} (#{question.responses.count.to_s})", question_responses_path(question.id), class: "u-mr-2" %>
          <% end %>
          <%= link_to 'Post a response', new_question_response_path(question.id) %>
        </p>
      </div>
<% if !current_page?(url_for(:controller => 'users', :action => 'show_questions')) && !current_page?(url_for(:controller => 'users', :action => 'show_votes')) %>
      <% if policy(question).destroy? && current_user.admin %>
      <div class="small-4 columns">
      <p class="small"><%= link_to '[Admin: Destroy Question]', question_path(question.id), method: :delete, data: {:confirm => "Are you sure you want to destroy this question?"} %></p>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>