<div class="row Box">
  <div class="small-12 columns">
    <%= form_for @event do |f| %>
    <div class="row u-mb-1">
      <div class="small-12 columns">
        <div class="floatlabel-wrapper required" style="position:relative">
          <%= f.text_field :name, placeholder: 'Name' %>
          <%= f.date_select :scheduled_datetime,
                           :default => Date.today,
                            :order => [:month, :day, :year], :start_year => Date.today.year %>
          <%= f.text_area :description, placeholder: 'Description'%>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
      </div>
      <div class="small-1 small-offset-2 columns">
      </div>
      <div class="small-3 columns">
      <% if @_controller.action_name == 'edit' %>
        <p><%= f.submit 'Update Event', class: "Button Button--green Button--fullWidth" %></p>
        <p><%= link_to 'Destroy Event', @event, method: :delete, class: "Button Button--outline Button--withIcon Button--red Icon--close Button--fullWidth", data: {:confirm => "Are you sure you want to destroy this event?"} %></p>
      <% else %>
        <%= f.submit 'Create Event', class: "Button Button--green Button--fullWidth" %>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>