<div class="small-3 columns">
  <nav class="SideNav">
    <h3>Pick an event</h3>
    <ul>
    <% descending_events(@events).first(10).each do |event| %>
      <% if @event.nil? %>
      <li><%= link_to event.name, event_path(event.id) %></li>
      <% else %>
        <% if event.id == @event.id %>
      <li class="is-active"><%= link_to event.name, event_path(event.id) %></li>
        <% else %>
      <li><%= link_to event.name, event_path(event.id) %></li>
        <% end %>
      <% end %>
    <% end %>
    <% if current_page?(url_for(:controller => 'events', :action => 'index')) %>
      <li class='is-active'><%= link_to 'Show All', events_path %></li>
    <% else %>
      <li><%= link_to 'Show All', events_path %></li>
    <% end %>
    </ul>


    <% if !@event.nil? %>
    <% if !@event.id.nil? %>
    <ul>
    <% if params[:sort] == 'date' %>
      <li><%= link_to 'Sort by popularity', event_path(@event.id) %></li>
      <li class="is-active"><%= link_to 'Sort by date', event_path(@event.id, sort: 'date') %></li>
    <% else %>
      <li class="is-active"><%= link_to 'Sort by popularity', event_path(@event.id) %></li>
      <li><%= link_to 'Sort by date', event_path(@event.id, sort: 'date') %></li>
    <% end %>
    </ul>
    <% end %>
    <% end %>

    <h3>Your stats:</h3>
    <ul>
      <li><%= "#{current_user.votes.count} #{'vote'.pluralize(current_user.votes.count)}" %></li>
      <li><%= link_to "#{current_user.questions.count} #{'question'.pluralize(current_user.questions.count)}", user_questions_path(current_user.id)%></li>
    </ul>
    <% if policy(@events).create? %>
    <h3>Admin</h3>
    <ul>
      <li><%= link_to 'Create Event', new_event_path %></li>
      <li><%= link_to 'Manage Users', users_path %></li>
    </ul>
    <% end %>
    <h3>Session</h3>
    <ul>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </nav>
</div>
