<div class="small-3 columns">
  <nav class="SideNav">
    <h3>Pick an event</h3>
    <ul>
    <% @events.last(10).reverse.each do |event| %>
      <% if @event.nil? %>
      <li><%= link_to event.name, event_path(event.id) %></li>
      <% else %>
        <% if event.id == @event.id %>
      <li class="is-active"><%= link_to event.name, event_path(event.id) %></li>
        <% else %>
      <li><%= link_to event.name, event_path(event.id) %></li>
        <% end %>
      <% end %>
    <% end %>
    <% if current_page?(url_for(:controller => 'events', :action => 'index')) %>
      <li class='is-active'><%= link_to 'Show All', events_path %></li>
    <% else %>
      <li><%= link_to 'Show All', events_path %></li>
    <% end %> 
    </ul>

    
    <% if !@event.nil? %>
    <ul>
    <% if params[:sort] == 'date' %>
      <li><%= link_to 'Sort by popularity', event_path(@event.id) %></li>
      <li class="is-active"><%= link_to 'Sort by date', event_path(@event.id, sort: 'date') %></li>
    <% else %>
      <li class="is-active"><%= link_to 'Sort by popularity', event_path(@event.id) %></li>
      <li><%= link_to 'Sort by date', event_path(@event.id, sort: 'date') %></li>
    <% end %>
    </ul>
    <% end %>

    <h3>Your stats:</h3>
    <ul>
      <li><%= "#{current_user.votes.count.to_s} #{'vote'.pluralize(current_user.votes.count)}" %></li>
      <li><%= "#{current_user.questions.count.to_s} #{'question'.pluralize(current_user.questions.count)}" %></li>
    </ul>
    <% if policy(@events).create? %>
    <h3>Admin</h3>
    <ul>
      <li><%= link_to 'Create Event', new_event_path %></li>
    </ul>
    <% end %>
    <h3>Session</h3>
    <ul>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
  </nav>
</div>