<div class="row u-mb-3">
  <div class="small-6 columns">
    <h2>Events</h2>
  </div>
  <% if policy(@events).create? %>
  <div class="small-2 small-offset-4 columns">
    <%= link_to 'Create Event', new_event_path, class: 'Button Button--green Button--fullWidth'%>
  </div>
  <% end %>
</div>
<div class="row u-mb-2">
  <div class="small-12 columns">
    <p><%= "#{pluralize(@users_count, 'person')} have submitted #{pluralize(@questions_count, 'question')} and cast #{pluralize(@votes_count, 'vote')}" %></p>
  </div>
</div>

<div class="row u-mb-4 u-dividerTopSmall">
  <div class="small-12 columns">
  <% if @events.empty? %>
  <h3>There are no events yet. Ask an admin to create one</h3>
  <% end %>
  <table class="u-mb-5">
    <tbody class="Table-actions">
    <% @events.order(:created_at).reverse_order.each do |event| %>
      <tr id="<%= "event_index_#{event.id}" %>">
        <td>
          <div class="Table-actions">
          <h3 class="name"><%= link_to event.name, event_path(event.id) %> 
          <% if event.closed? %>
          <span class="Badge Badge--uppercase Badge--grey">Closed</span>
          <% end %>
          </h3>
          <div>
            <p class="small datetime">
              <%= format_datetime(event.scheduled_datetime) %>
            </p>
          </div>
          <p class="description"><%= event.description %></p>
            <div class="ButtonGroup">
            <% if policy(@events).edit? %>
              <%= link_to '', edit_event_path(event.id), { class: 'Button Button--blue Button--icon Icon--gear', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Edit Event' }%>
            <% end %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>