<div class="row u-mb-3">
  <div class="small-6 columns">
    <h2><%= @event.name %>
    <% if @event.closed %>
    <span class="Badge Badge--uppercase Badge--grey">Closed</span>
    <% end %>
    </h2>
      <h4>
        <%= @event.scheduled_datetime %>
      </h4>
    <p><%= @event.description %></p>
  </div>
  <div class="small-2 small-offset-3 columns">
    <p>
    <% if !@event.closed %>
    <%= link_to 'Ask Question', new_event_question_path(@event.id), class: 'Button Button--green Button--fullWidth'%>
    <% else %>
    <a class="Button is-disabled Button--green Button--fullWidth" data-toggle="tooltip" data-placement="top" title="Event is closed">Ask Question</a>
    <% end %>
    </p>
  </div>
  <% if policy(@event).edit? %>
  <div class="small-1 columns">
    <% if @event.closed %>
      <%= link_to '', open_event_path, { class: 'Button Button--green Button--icon Icon--arrowUp', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Open Event' }%>
    <% else %>
      <%= link_to '', close_event_path, { class: 'Button Button--red Button--icon Icon--arrowDown', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Close Event' }%>
    <% end %>
    <%= link_to '', edit_event_path, { class: 'Button Button--blue Button--icon Icon--gear', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Edit Event' } %>
  </div>
  <% end %>
</div>
<div class="row u-mb-2">
  <div class="small-12 columns">
    <p class="small"><%= "#{pluralize(@event.vote_count, 'vote')} on #{pluralize(@questions.length, 'question')} from #{pluralize(@event.participant_count, 'person')}." %></p>
  </div>
</div>
<% if @questions.empty? %>
<div class="row u-mb-2">
  <div class="small-12 columns">
  <h3>There are no questions in this event yet. Ask one!</h3>
  </div>
</div>
<% end %>

<%= render @questions %>
