<div class="row u-mb-7">
  <div class="small-6 columns">
    <h2><%= @event.name %>
    <% if @event.closed %>
      (Closed)
    <% end %>
    </h2>
      <h4>
        <%= @event.scheduled_datetime %>
      </h4>
    <p class="small"><%= @event.description %></p>
  </div>
  <div class="small-2 small-offset-3 columns">
    <p><%= link_to 'Ask Question', new_event_question_path(@event.id), class: 'Button Button--green Button--fullWidth'%></p>
  </div>
  <% if policy(@event).edit? %>
  <div class="small-1 columns">
    <% if @event.closed %>
      <%= link_to '', open_event_path, { class: 'Button Button--green Button--icon Icon--arrowUp', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Open Event' }%>
    <% else %>
      <%= link_to '', close_event_path, { class: 'Button Button--red Button--icon Icon--arrowDown', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Close Event' }%>
    <% end %>
    <%= link_to '', edit_event_path, { class: 'Button Button--blue Button--icon Icon--gear', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Edit Event' } %>
  </div>
  <% end %>
</div>
<%= render @questions %>
<div class="row">
  <div class="small-12 columns">
    <p><%= link_to 'Back to all events', events_path %></p>
  </div>
</div>