<div class="row">
  <div class="small-10 columns">
    <h2 id='event_name'><%= @event.name %>
    <% if @event.closed? %>
    <span class="Badge Badge--uppercase Badge--grey">Closed</span>
    <% end %>
    </h2>
  </div>
  <div class="small-2 columns">
    <p>
    <% if !@event.closed? %>
    <%= link_to 'Ask Question', new_event_question_path(@event.id), class: 'Button Button--green Button--fullWidth'%>
    <% else %>
    <a class="Button is-disabled Button--green Button--fullWidth" data-toggle="tooltip" data-placement="top" title="Event is closed">Ask Question</a>
    <% end %>
    </p>
  </div>
</div>
    <div class="row u-mb-3 event_header">
      <div class="small-10 columns">
      <div><p id='event_datetime' class="small"><%= format_datetime(@event.scheduled_at) %></p></div>
    <p id='event_description'><%= @event.description %></p>
      </div>
        <% if policy(@event).edit? %>
              <div class="small-2 columns u-textAlignRight">
    <% if @event.scheduled_at.nil? %>
      <% if @event.closed? %>
        <%= link_to '', open_event_path, { class: 'Button Button--green Button--icon Icon--arrowUp', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Open Event' }%>
      <% else %>
        <%= link_to '', close_event_path, { class: 'Button Button--red Button--icon Icon--arrowDown', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Close Event' }%>
      <% end %>
    <% end %>
    <%= link_to '', edit_event_path, { class: 'Button Button--blue Button--icon Icon--gear', :'data-toggle' => 'tooltip', :'data-placement' => 'top', title: 'Edit Event' } %>
  </div>
  <% end %>
    </div>
<div class="row u-mb-4">
  <div class="small-12 columns">
    <p class="small"><%= "#{pluralize(@event.vote_count, 'vote')} on #{pluralize(@event.questions.size, 'question')} from #{pluralize(@event.participant_count, 'person')}." %></p>
  </div>
</div>
<% if @event.questions.size == 0 %>
<div class="row u-mb-2">
  <div class="small-12 columns">
  <h3>There are no questions in this event yet. Ask one!</h3>
  </div>
</div>
<% end %>

<%= render @questions %>
