<div class="row">
<div class="small-11 small-offset-1 columns">
<div class="row Box u-mb-5">
  <div class="small-12 columns">
    <%= form_for @response do |f| %>
    <div class="row u-mb-1">
      <div class="small-12 columns">
        <div class="floatlabel-wrapper required" style="position:relative">
          <%= f.text_area :copy, placeholder: 'Response', class: 'u-mb-0' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns u-mb-4" style="text-align:center">
        <p class="small">Please be considerate and respectful when posting questions and responses.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <div class="checkbox">
          <%= f.check_box :anonymous_flag, value: true %>
          <span></span>
          <%= f.label :anonymous_flag, 'Anonymous' %>
        </div>
      </div>
    <div class="small-1 small-offset-2 columns">
    </div>
    <div class="small-3 columns">
      <p><%= f.submit 'Edit Response', class: "Button Button--green Button--fullWidth" %></p>
      <p><%= link_to 'Destroy Response', @response, method: :delete, class: "Button Button--outline Button--withIcon Button--red Icon--close Button--fullWidth", data: {:confirm => "Are you sure you want to destroy this response?"} %></p>
    </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>