<% if !response.id.nil? %> <%# don't render new response %>
  <% if params[:response] == response.id.to_s %>
<div class="row u-dividerTopSmall u-mb-4 is-active" id="response_<%= response.id.to_s %>">
  <% else %>
<div class="row u-dividerTopSmall u-mb-4" id="response_<%= response.id.to_s %>">
  <% end %>
  <div class="small-11 small-offset-1 columns">
    <div class="row">
    <h4>
      <% if response.anonymous_flag == true %>
      Anonymous
      <% else %>
      <%= response.user.name %>
      <% end %> responds:
    </h4>
    </div>
    <div class="row u-mb-2">
      <p>"<%= response.copy %>"</p>
    </div>
    <div class="row u-mb-2">
      <% if policy(response).edit? %>
      <p class="small">
        <%= link_to 'Edit Response', edit_response_path(response.id) %>
      </p>
      <% end %>
    </div>
  </div>
</div>
<% end %>