<!DOCTYPE html>
<html>
<head>
  <title>AMA Moderator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    img.profile-image { border-radius: 50%; }
    .Ticket-reply a { border-bottom: none;}
  </style>
</head>
<body>
  <% if notice %>
  <div class="Alert Alert--success">
    <div class="Alert-content">
      <span class="Alert-icon Icon--check"></span>
      <p><%= notice %></p>
      <a class="Alert-close Icon--close"></a>
    </div>
  </div>
  <% end %>
  <% if alert %>
  <div class="Alert Alert--failure">
    <div class="Alert-content">
      <span class="Alert-icon Icon--close"></span>
      <p><%= alert %></p>
    </div>
  </div>
  <% end %>
  <div class="row u-mt-5">
    <div class="small-12 columns">
      <h1>Moderator</h1>
    </div>
  </div>
  <% if user_signed_in? %>
  <div class="row">
    <%= render 'events/sidebar' %>
    <div class="small-9 columns">
      <%= yield %>
    </div>
  </div>
  <% else %>
    <div class="row">
      <div class="small-12 columns">
      <%= yield %>
      </div>
    </div>
  <% end %>
</body>
</html>
