<!DOCTYPE html>
<html>
<head>
  <title>AMA Moderator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <div class="Alert Alert--success">
    <div class="Alert-content">
      <span class="Alert-icon Icon--check"></span>
      <p><%= notice %></p>
      <a class="Alert-close Icon--close"></a>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="Alert Alert--failure">
    <div class="Alert-content">
      <span class="Alert-icon Icon--close"></span>
      <p><%= alert %></p>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="small-12 columns">
    <h1>Moderator</h1>
  </div>
</div>
<%= yield %>

<% if user_signed_in? %>
<div class="row u-mb-3">
  <div class="small-12 columns">
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </div>
</div>
<% end %>

</body>
</html>
